body{
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

h1{
    margin: 0 auto;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: lightgray;
    border-left: 4px solid red;
    padding: 5px;
    width: 100%;
}

form div{
    padding: 15px;
}

form{
    font-size: 14px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 100%;
}

.text, textarea, .dropdown{
    border: 1px solid #dfdfdf;
    padding: 15px;
    color: #999;
    background: #fff;
}

.input{
    margin: 10px;
}

input[type="submit"] {
    padding: 4px 10px;
    border: 1px solid lightgray;
    border-radius : 10px;
    background-color: gray;
    box-shadow: 3px #656565;
    color: white;
}